<mat-card [appPublicationColor]='video.snippet.publishedAt' class='card'>
  <img alt='Video thumbnails' mat-card-image src='{{video.snippet.thumbnails.standard.url}}'>
  <mat-card-content appFlexCenter>
    <mat-chip-list aria-label='Video statistics'>
      <mat-chip>
        <mat-chip-avatar>
          <mat-icon aria-hidden='false' aria-label='Views icon' class='chip-icon'>visibility</mat-icon>
        </mat-chip-avatar>
        {{video.statistics.viewCount}}
      </mat-chip>
      <mat-chip color='primary'>
        <mat-chip-avatar>
          <mat-icon aria-hidden='false' aria-label='Likes icon' class='chip-icon'>thumb_up</mat-icon>
        </mat-chip-avatar>
        {{video.statistics.likeCount}}
      </mat-chip>
      <mat-chip color='accent'>
        <mat-chip-avatar>
          <mat-icon aria-hidden='false' aria-label='Dislikes icon' class='chip-icon'>thumb_down</mat-icon>
        </mat-chip-avatar>
        {{video.statistics.dislikeCount}}
      </mat-chip>
      <mat-chip color='accent'>
        <mat-chip-avatar>
          <mat-icon aria-hidden='false' aria-label='Comments icon' class='chip-icon'>comment</mat-icon>
        </mat-chip-avatar>
        {{video.statistics.commentCount}}
      </mat-chip>
    </mat-chip-list>
  </mat-card-content>
  <mat-card-header>
    <!--    <div mat-card-avatar class="example-header-image"></div>-->
    <mat-card-title>{{video.snippet.title}}</mat-card-title>
    <mat-card-subtitle>{{video.snippet.channelTitle}}</mat-card-subtitle>
  </mat-card-header>
  <mat-divider inset></mat-divider>
  <mat-card-actions appFlexCenter>
    <button mat-button>More...</button>
  </mat-card-actions>
</mat-card>
