<mat-card [appPublicationColor]="publishedAt" class="card">
	<mat-card-header>
		<button (click)="goBack()" aria-label="Back button" mat-card-avatar mat-icon-button>
			<mat-icon>arrow_back</mat-icon>
		</button>
		<mat-card-title>{{ title }}</mat-card-title>
		<mat-card-subtitle>{{ channelTitle }}</mat-card-subtitle>
	</mat-card-header>
	<img alt="Video thumbnails" mat-card-image src="{{ imgSrc }}" />
	<mat-card-content>
		<mat-chip-list aria-label="Video statistics">
			<mat-chip>
				<mat-chip-avatar>
					<mat-icon appChipIcon aria-hidden="false" aria-label="Views icon"
						>visibility</mat-icon
					>
				</mat-chip-avatar>
				{{ viewCount }}
			</mat-chip>
			<mat-chip color="primary">
				<mat-chip-avatar>
					<mat-icon appChipIcon aria-hidden="false" aria-label="Likes icon"
						>thumb_up</mat-icon
					>
				</mat-chip-avatar>
				{{ likeCount }}
			</mat-chip>
			<mat-chip color="accent">
				<mat-chip-avatar>
					<mat-icon appChipIcon aria-hidden="false" aria-label="Comments icon"
						>comment</mat-icon
					>
				</mat-chip-avatar>
				{{ commentCount }}
			</mat-chip>
		</mat-chip-list>
		<mat-divider class="divider" inset></mat-divider>
		<p class="description">{{ description }}</p>
	</mat-card-content>
</mat-card>
