:host {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-gap: 1rem;

	@media (max-width: 1600px) {
		grid-template-columns: repeat(3, 1fr);
	}

	@media (max-width: 1200px) {
		grid-template-columns: repeat(2, 1fr);
	}

	@media (max-width: 800px) {
		grid-template-columns: repeat(1, 1fr);
	}
}
